@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTI2MTUyNC1zdG9yZWZyb250OkdLbTJ0NjltZUNGaUlYMkRLMlhTWk81NTlXY3BqUU1S
always-auth=true
