@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTI2MTUyNC1oYW1pZDoxOUZSQzhVbWhWUUZObEFmUENpTnJmV1pleGRXY1BrdQ==
always-auth=true
