// site context selector component styles
cx-site-context-selector {
  color: #111827;
  margin-top: 0;
  margin-bottom: 0;

  label span {
    display: none;
  }
  select {
    color: #111827;
    background-color: #f9f9f9;
    font-size: 0.875rem;
    font-weight: 300;
  }
  cx-icon {
    color: var(--cx-color-white);
  }
}
