.connection-card {
  margin: 8px;
  border: 2px solid transparent; /* Initially, border is transparent */
  cursor: pointer;
  max-width:195px;
}
.connectors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.connection-card.selected {
  border-color: green; /* When selected, border color is green */
}

.checkmark-container {
  position: relative;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  color: green; /* Checkmark color */
}

.module-position {
  padding: 3px;
  max-width: 200px;
}

.base-table {
  padding-top:1rem;
  padding-bottom: 1rem;
}
